.bzrignore
.bzr
plx-storage/*
!plx-storage/themes
plx-storage/themes/*
!plx-storage/themes/.gitignore
plx-components/*
plx-components/.gitignore
!plx-components/system
!plx-components/plexus-connect
.project
.buildpath
.settings
.project
